<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
<body>
<h2>Customer Info</h2>
<input type="text" id="livebox">
<table id = "datalist">
  
</table>

</body>

<script>
    $(document).ready(function(){
        $("#livebox").on("input",function(e){
          $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearch",
                data:{text:$("#livebox").val()},
                success:function(res){
                    var data = "<tr><th>ID</th><th>Name</th><th>Contact</th><th>Package</th><th>ISPPackage</th><th>Last Recharge</th><th>Validity</th><th>Payment Mode</th><th>Payment Status</th><th>ReceiptNo</th><th>Status</th></tr>";
                    $.each(res,function(index,value){
                        data +="<tr><td>"+value[0]+"</td><td>"+value[1]+"</td><td>"+value[2]+"</td><td>"+value[3]+"</td><td>"+value[4]+"</td><td>"+value[5]+"</td><td>"+value[6]+"</td><td>"+value[7]+"</td><td>"+value[8]+"</td><td>"+value[9]+"</td><td>"+value[10]+"</td></tr>";
                    });
                    data += "</ul>"
                    $("#datalist").append(data);
                }
            });
        });
    });
</script>
</html>




